body{
   font-family: $base-font-family $system-ui;
font-size:$base-font-size;
font-weight:$base-font-weight;

line-height:$base-line-height;
color:$base-font-color;
background-color:$base-page-color;
}